// converted from html
head
  link(rel='stylesheet' href='homepage.css')
  title Learn Secure Coding
  style.
    .breadcrumbs {
    padding: 10px;
    font-family: sans-serif;
    }
    .breadcrumbs__item{
    display: inline-block;
    }
    .breadcrumbs__item:not(:last-of-type)::after {
    content: '/';
    margin: 0 5px;
    }
ul.breadcrumbs
  li.breadcrumbs__item
    a.breadcrumbs__link(href='/homepage') Home 
h1
  em Learn Secure Coding
p.welcome_text
  | Aliquam ut enim orci. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
  | Sed ornare iaculis congue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut id velit ex.
  | Donec et quam quis lacus tristique lacinia. Etiam a blandit libero, vitae tincidunt nulla.
p.separator
h1 Pick a Unit
.unit_list
  .CWE_120
    a(href='/unit-overview-temp')
      h3 Out of Bounds Reading and Writing
    p
      | This lesson is focused on
      | out of bounds reading and writing.
  .CWE_20
    a(href='/unit-overview-temp')
      h3 Unit Placeholder Link
    p PLACEHOLDER INFORMATION
