// converted from homepage.html
html
head
  title Learn Secure Coding
  style.
    .breadcrumbs {
    padding: 10px;
    font-family: sans-serif;
    }
    .breadcrumbs__item{
    display: inline-block;
    }
    .breadcrumbs__item:not(:last-of-type)::after {
    content: '/';
    margin: 0 5px;
    }
h1 Learn Secure Coding
ul.breadcrumbs
  li.breadcrumbs__item
    a.breadcrumbs__link(href='/homepage') Home 
h2  Welcome to Learn Secure Coding! We&apos;ll have a better introduction soon. 
h1 Pick a Unit
a(href='/unitoverview')  Unit 1
