// Converted to pug by Jordan Lees
// Original html by Ryan Edwards
html
	head
		link(rel="stylesheet" href="/static/css/challengestyle.css")
		link(rel="stylesheet" href="/static/css/w3.css")
		script(src="/static/js/jquery.min.js")
		script(src="/static/js/lesson-challenge.js")
	body
		script.
			var lessonid =  #{lessonid}
		style.
			.breadcrumbs{
				padding: 10px;
				font-family: sans-serif;
			}
			.breadcrumbs__item{
				display: inline-block;
			}
			.breadcrumbs__item:not(:last-of-type)::after{
				content: '/';
				margin: 0 5px;
			}
		// list of pages
		ul.breadcrumbs
			li.breadcrumbs__item
				a.breadcrumbs__link(href='/') Home
			li.breadcrumbs__item
				a.breadcrumbs__link(href='/unitoverview') Unit 1 Overview
			li.breadcrumbs__item
				a.breadcrumbs__link(href='/challenge') Challenge
		div(class="lessonTitle")
			h1 Learn Secure Coding
			p 
		p 
		div(class="w3-container")
			div(class="challengeBox")
				div(class="w3-panel w3-card")
				h3 
					em Lesson: foo bar
				p
					p #{lesson_material}
			div(class="gotochallengebutton")
				div(id="js_button_function")
				//- Load React. Taken from tutorial page
				//- Note: when deploying, replace "development.js" with "production.min.js".
				script(src="https://unpkg.com/react@17/umd/react.development.js" crossorigin)
				script(src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin)
				//- Load our React component.
				script(src="/static/js/gotochallenge.js")
			div(class="codeEnter")
				div(class="w3-panel w3-card")
				//-pre
					For block text (or for scripts), put a . after the tag name
					code.
						#include &lt;stdio.h&gt;
						int main() {
							printf() displays the string inside quotation
							printf("Hello, World!");
							return 0;
						}
				form(name="code-enter", method="post")
					div.input
					//- to make a block of text (or for scripts), put a . at the end
					textarea(name="code", id="codeArea" cols="80", rows="20").
						#{challenge_code}
			div(id="backtolesson")
				button(type="button" onclick="alert('Back to Lesson TEMP')") Back to Lesson
			div(id="submitcode")
				button(type="button" id="btnSubmitCode") Submit Code
			div(class="hints")
				div(class="w3-panel w3-card")
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					div(id="proceed")
						button(type="button" onclick="alert('Proceed TEMP')") Proceed