// converted from UnitOverview.html
html
head
  title Learn Secure Coding: Unit Overview
  style.
    .breadcrumbs {
    padding: 10px;
    font-family: sans-serif;
    }
    .breadcrumbs__item{
    display: inline-block;
    }
    .breadcrumbs__item:not(:last-of-type)::after {
    content: '/';
    margin: 0 5px;
    }
ul.breadcrumbs
  li.breadcrumbs__item
    a.breadcrumbs__link(href='/homepage') Home
  li.breadcrumbs__item
    a.breadcrumbs__link(href='/lesson-challenge') Unit 1 Overview
h1 Unit Overview
h2  Here is a wonderful description of what the unit will cover. 
h1 Pick a Lesson
a(href='/lesson-challenge')
  | Lesson 1
  br
a(href='/lesson-challenge')
  | Lesson 2
  br
a(href='/lesson-challenge')  Lesson n