body {
    background-color: beige;
}

/* styles */
.lessonTitle {
    font-family: cursive;
    text-align: center;
    border-style: solid;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;

}
.challengeBox {
    text-align: left;
    
}
.codeEnter {
    float: left;
    width: 85%;
}
.hints {
    float:left;
    width: 10%;
}
.w3-panel{
    background-color: lightgray;
}
.gotochallengebutton {
    text-align: center;
}
.backtolesson{
    text-align: right;
}
.submitcode {
    text-align: right;
}
.proceed {
    
}

