h1 {
    text-align: center;
    font-size: 200%;
}
body {
    background-color: beige;
}
p.welcome_text {
    margin-left: 10%;
    margin-right: 10%;
    overflow: hidden;
    word-wrap: break-word;
    text-align: center;
    position: relative;
}

p.separator {
    width: 80%; 
    margin: 0 auto; 
    height: 1px; 
    border-bottom: 1px solid;
}
.breadcrumbs {
    text-align: center;
}
title {
    align-items: center;
}

.animate{transition: 0.25s ease-in-out;}
.animate-background{transition: background 0.25s ease-in-out;}
.clickable{cursor: pointer;}
.no-underline{text-decoration: none;}
hr{border-color: rgb(110, 110, 110);}
p.indent{text-indent: 30px;}

.CWE_120, .CWE_20 {
    background-color: white;
    transition: background 0.25s ease-in-out;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 2%;
    border: black;
    border-style: solid;
    box-shadow: 5px 3px 3px black;
}
.CWE_120:hover, .CWE_20:hover {
    background-color: lightgray;
}

p.lesson_separator {
    width: 90%; 
    margin: 0 auto; 
    height: 1px; 
    border-bottom: 1px solid;
}

.container {
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.lesson_list {
    margin-top: 1%;
    margin-left: 5%;
}

p.info1, p.info2 {
    margin-left: 5%;
    font-weight: bold;
}
